* {
  background-color: #222;
  color: white;
}

.text {
  width: 85%;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  font-family: 'Roboto', sans-serif;
}


h2 {
  font-size: 3rem;
  font-weight: bolder;
}




@media only screen and (max-width: 875px) {
.text {
  padding-top: 15vh;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  font-family: 'Roboto', sans-serif;
}
}