* {
  background-color: #222;
  color: white;
}

.text {
  padding-top: 5vh;
  width: 85%;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
}