* {
  background-color: #F8F8FF;
}

a {
  color: black;
}

.text {
  width: 85%;
  color: black;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
}