.footer {
    display: flex;
    font-weight: 100px;
    justify-content: center;
    width: 100%;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    
  }
  
.footer > * {
  animation: animation 500ms linear both;
}