* {
    font-family: 'Roboto', sans-serif;
}

form > * {
    width: 100%;
}

button {
    width: 15%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    box-shadow: 0 0 0 30px #222 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}