* {
    font-family: 'Roboto', sans-serif;
}

form > * {
    width: 100%;
}

button {
    width: 15%;
    min-width: 75px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #F0FFFF inset !important;
    box-shadow: 0 0 0 30px #F0FFFF inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}