ul {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  position: sticky;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 10vh;
  background-color: #778899;
}

li {
  padding: 0.5rem;
  background-color: inherit;
  padding: 4vh;
  animation: animation 500ms linear both;
}

a {
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  color: #F8F8FF;
}


@media only screen and (max-width: 875px) {
  ul {
    font-size: 1rem;
  }
}